<config><FlashFolder created="2012-04-24 08:34:57" filename="/home/x/TexFlasher/eldg-goette/Vorbereitung.tex" lastReviewed="2012-05-05 09:00:18"/><FlashFolder created="2012-04-28 18:07:09" filename="" lastReviewed="2012-04-28 18:07:09"/><FlashFolder created="2012-05-01 07:42:26" filename="/home/x/TexFlasher/dg-i-goette/Vorbereitung.tex" lastReviewed="2012-05-05 09:00:54"/><FlashFolder created="2012-05-02 23:57:48" filename="/home/x/TexFlasher/basics/Vorbereitung.tex" lastReviewed="2012-05-05 09:01:24"/></config>